<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a la aplicación del {{ title }}
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form">
      <h1>Registro de clientes</h1>
      <div class="form-group">
        <label for="identification">Identificación</label>
        <input [(ngModel)]="clienteForm.identification" name="identification" type="text" class="form-control" id="identification"
              placeholder="Introduce número de identificación">
              <p>{{clienteForm.identification}}</p>
      </div>
      <div class="form-group">
        <label for="firstname">Nombre</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Introduce tus nombre">
      </div>
      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Introduce tus apellido">
      </div>
      <div class="form-group">
        <label for="birthdate">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="birthdate" name="birthdate" placeholder="Introduce tu fecha de nacimiento">
      </div>  
      <button (click)="createClient()" type="submit" class="btn btn-success">Registrar cliente</button>
    </form>
  </div>
</div>